<!DOCTYPE html>
<html lang="ko" dir="ltr">
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Newsquence</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css">

    {% load static %}
    <script src="{% static 'js/moment.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>




    <style>
      .bootstrap-datetimepicker-widget tr:hover {
        background-color: #808080;}
    </style>

    <script type="text/javascript">
      $(document).ready(function(){
          moment.locale('en', {
            week: { dow: 0 } // Monday is the first day of the week
          });
        //Initialize the datePicker(I have taken format as mm-dd-yyyy, you can     //have your owh)
        $("#weeklyDatePicker").datetimepicker({
            format: 'YYYY-MM-DD'
        });

         //Get the value of Start and End of Week
        $('#weeklyDatePicker').on('dp.change', function (e) {
            var value = $("#weeklyDatePicker").val();
            var firstDate = moment(value, "YYYY-MM-DD").day(1).format("YYYY-MM-DD");
            var lastDate =  moment(value, "YYYY-MM-DD").day(7).format("YYYY-MM-DD");
            $("#weeklyDatePicker").val(firstDate + " - " + lastDate);
        });

        $("#search").click(function(){
            var keyword = $("#keyword").val();
            if(keyword == ''){
              alert("키워드를 입력하지 않았습니다.");
              return false;
            };

            keyword = encodeURI(keyword);
            $.ajax({
              url: "search",
              success: function(){
                alert(keyword);
              }});
          });
      });

    </script>
  </head>
  <body>
    <!-- nav -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="index.html">HOME</a></li>
            <li><a href="newsstory021.html">메뉴1</a></li>
            <li><a href="newsstory022.html">메뉴2</a></li>
            <li><a href="newsstory03.html">메뉴3</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- nav end -->
    <br>
    <br>
    <br>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content-box">
          <h3 class="text-center">최신 주간 트렌드 뉴스</h3>
          <p class="text-center">2020년{{lastperiod}}</p>
          <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <div class="input-group" id="DateDemo">
                <input type='text' id='weeklyDatePicker' class="form-control" placeholder="기간 선택" />
                <div class="input-group-btn">
                     <button class="btn btn-default" type="submit">
                       <i class="glyphicon glyphicon-calendar"></i>
                     </button>
                </div>
              </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
              <div class="form-group">
                <select class="form-control" id="cate">
                  <option value="">카테고리 선택</option>
                  <option value="인공지능-빅데이터">인공지능-빅데이터</option>
                  <option value="콘텐츠">콘텐츠</option>
                </select>
              </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <form action="/search" method="GET">
                 <div class="input-group">
                   <input type="text" id="keyword" name="keyword" class="form-control" placeholder="키워드 입력">
                   <div class="input-group-btn">
                     <button class="btn btn-default" type="submit">
                       <i class="glyphicon glyphicon-search"></i>
                     </button>
                   </div>
                 </div>
              </form>
            </div>
          </div>
          <br>
          <span style="text-align: right"><a href="alllist">전체 목록 보기</a><a href="../">최신 목록 보기</a></span>
          <!--<p style="text-align: right"><a href="../">최신 목록 보기</a></p>-->
          <table class="table table-hover table-borderless">
            <thead>
              <tr>
                <th>번호</th>
                <th>날짜</th>
                <th>제목</th>
                <th>매체명</th>
                <th>카테고리</th>
                <th>기사보기</th>
              </tr>
            </thead>
            <tbody>
              {% for al in alllist %}
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{al.pubdate}}</td>
                  <td style="text-align: left;"><a href="#" data-toggle="collapse" data-target="#summary-{{forloop.counter}}" class="collapsed" aria-expanded="false">{{al.title}}</a></td>
                  <td>{{al.media}}</td>
                  <td>{{al.category}}</td>
                  <td><button type="button" class="btn btn-primary btn-xs" onclick="window.open('{{al.link}}')">기사보기</button></td>
                </tr>
                <tr id="summary-{{forloop.counter}}" class="collapse">
                  <td></td>
                  <td colspan="4" style="text-align: left;">{{al.summary|linebreaksbr}}</td>
                  <td></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </body>
</html>
